<h1>Listing commentaires</h1>

<table>
  <tr>
    <th>Pseudo</th>
    <th>Contenu</th>
    <th>Actif</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @commentaires.each do |commentaire| %>
  <tr>
    <td><%= commentaire.pseudo %></td>
    <td><%= commentaire.contenu %></td>
    <td><%= commentaire.actif %></td>
    <td><%= link_to 'Show', commentaire %></td>
    <td><%= link_to 'Edit', edit_commentaire_path(commentaire) %></td>
    <td><%= link_to 'Destroy', commentaire, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Commentaire', new_commentaire_path %>
